body
{
	text-align: center;
	font-family: Palatino;
	background-color: #333333;
}

#header
{
	position: absolute;

	color: #EEEEEE;
	font-size: 1.25em;
	text-decoration: underline;
}

#back
{
	position: absolute;

	color: #CCFFFF;
	cursor: pointer; 
}

p
{
	position: absolute;

	color: #EEEEEE;
}

.link
{
	color: #CCFFFF;
	cursor: pointer; 
}